/* ================================================================ 
  BASE START 
================================================================  */

html, body {
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  /*background-color: #F05E62;*/
  background-color: #9160A1;
}

html, body, ul, ol, li, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, p {
  border: 0;
  margin: 0;
  padding: 0;
}

  h1 {
    font-size: 8em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.5em;
  }

img {
  width: 44px;
  height: auto;
}

li {
  list-style: none;
  display: inline-block;
}

.header {
  margin-top: 2em;
  overflow: hidden;
}

a:hover {
  /*background: #E84652;*/
  background: #664371;
  text-decoration: none;
}

/* ================================================================ 
  BASE END
================================================================  */



/* ================================================================ 
  HOME PAGE START 
================================================================  */

.clock {
  text-align: center;
  margin: 10em 0;
}

.containerwrapper {
  margin-bottom: 4em;
  overflow: hidden;
}

  .date, .time, .alarmtime {
    padding-bottom: 2em;
  }

/* ================================================================ 
  HOME PAGE END 
================================================================  */



/* ================================================================ 
  ALARMS PAGE START 
================================================================  */

.alarms {
  margin: 5em 0;
}

.input-group {
  padding: 2em;
  margin-bottom: 3em;
  background-color: white;
}

/* ================================================================ 
  ALARMS PAGE END 
================================================================  */



/* ================================================================ 
  SETTINGS PAGE START 
================================================================  */

.settings {
  margin-top: 5em;
  text-align: center;
}

.odometer {
  padding: 2em;
  text-align: center;
  margin-bottom: 5em;
  color: #9160A1;
  background-color: #FFFFFF;
}

  .numbers {
    padding: 1em;
    width: 120px;
    height: 120px;
    overflow: hidden;
/*    border: 1px solid orange;*/
  }

  .numbers li {
    font-size: 8em;
  }

  .days a {
    color: #FFFFFF;
    opacity: .5;
    padding: .5em;
  }

    .days a:hover {
      opacity: 1;
      padding: .5em;
    }

.set {
  padding: .5em 2em;
  margin-top: 5em;
  font-weight: bold;
  font-size: 2em;
  color: #9160A1;
  background-color: white;
}

  .set a:hover {
    color: #664371;
  }

/* ================================================================ 
  SETTINGS PAGE END 
================================================================  */



/* ================================================================ 
  MUSIC PAGE START 
================================================================  */

.music {
  margin: 5em 8em;
}

  .music h4 {
    display: block;
    margin-bottom: 3em;
  }

/* ================================================================ 
  MUSIC PAGE END 
================================================================  */
