<!-- Header Start -->      
<div class="header">
  <ul class="nav nav-pills pull-left">
    <li><a ng-href="#/main"><img ng-src="images/icon_clock.png" alt="clockicon"></a></li>
  </ul>
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/settings"><img ng-src="images/icon_add.png" alt="addicon"></a></li>
  </ul>
</div>
<!-- Header End -->  

<!-- Alarms List Start -->
<div class="alarms">

  <p class="input-group" ng-repeat="alarm in alarms">
		<input ng-model="alarm" class="form-control">
		<span class="input-group-btn">
  		<button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
		</span>
  </p>

</div>
<!-- Alarms List End -->