<!-- Header Start -->      
<div class="header">
  <ul class="nav nav-pills pull-left">
    <li><a ng-href="#/main"><img ng-src="images/icon_clock.png" alt="clockicon"></a></li>
  </ul>
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/add"><img ng-src="images/icon_add.png" alt="addicon"></a></li>
    <!-- http://angular-ui.github.io/bootstrap/ : Modal -->
  </ul>
</div>
<!-- Header End -->  

<!-- Alarms List Start -->
<div class="alarms">

	<p class="input-group" ng-repeat="alarm in alarms">
  		<input ng-model="alarm" class="form-control">
  		<span class="input-group-btn">
    		<button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
  		</span>
	</p>

</div>
<!-- Alarms List End -->

<!-- <div ng-controller="AlarmCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div> -->