<!-- Header Start -->      
<div class="header">

  <ul class="nav nav-pills pull-left">
    <li><a ng-href="#/music"><img ng-src="images/icon_music.png" alt="musicicon"></a></li>
  </ul>
  
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/alarm"><img ng-src="images/icon_alarm.png" alt="alarmicon"></a></li>
  </ul>

</div>
<!-- Header End -->  

<!-- Content Start -->
<div class="clock">

  <div class="containerwrapper">

    <!-- Date Start -->
    <div class="date col-xs-12">
      <h4>{{dt | date:'EEEE'}} {{dt | date:'MMM'}} {{dt | date:'dd'}}</h4>
    </div>
    <!-- Date End -->

    <!-- Time Start -->
    <div class="time col-xs-12">
      <h1>{{dt | date:'h'}}:{{dt | date:'mm'}} {{dt | date:'a'}}</h1>
    </div>
    <!-- Time End -->

    <!-- Alarm Start -->
    <div class="alarmtime col-xs-12">
      <h4>coco at 8:30am</h4>
    </div>
    <!-- Alarm End -->

  </div>

  <p><a class="btn btn-default" ng-href="#">Tap</a></p>

</div>
<!-- Content End -->