<!-- Header Start -->      
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a class="icons" ng-href="#/alarm"><img ng-src="images/icon_exit.png" alt="exiticon"></a></li>
  </ul>
</div>
<!-- Header End -->  

<!-- Settings Start -->
<div class="settings">

  <div id="odometer" class="odometer col-xs-12">
    <div class="numbers">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
      </ul>
    </div>
  </div>

    <div class="days">
      <ul>
        <li><h3><a href="#">MO</a></h3></li>
        <li><h3><a href="#">TU</a></h3></li>
        <li><h3><a href="#">WE</a></h3></li>
        <li><h3><a href="#">TH</a></h3></li>
        <li><h3><a href="#">FR</a></h3></li>
        <li><h3><a href="#">SA</a></h3></li>
        <li><h3><a href="#">SU</a></h3></li>
      </ul>
    </div>

  <p><a class="set btn btn-default" ng-href="#/alarm">S E T</a></p>

</div>
<!-- Settings End -->