<!-- Header Start -->      
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/alarm"><img ng-src="images/icon_exit.png" alt="exiticon"></a></li>
  </ul>
</div>
<!-- Header End -->  

<!-- Settings Start -->
<div class="settings">

	<div class="odometer">
		<img src="http://placehold.it/300x300" height="300" width="300" alt="timesetting"/>
	</div>

	<div class="days">
  		<ul>
  			<li><h3>MO</h3></li>
  			<li><h3>TU</h3></li>
  			<li><h3>WE</h3></li>
  			<li><h3>TH</h3></li>
  			<li><h3>FR</h3></li>
  			<li><h3>SA</h3></li>
  			<li><h3>SU</h3></li>
  		</ul>
  	</div>

</div>
<!-- Settings End -->