<!-- Header Start -->      
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a class="icons" ng-href="#/alarm"><img ng-src="images/icon_exit.png" alt="exiticon"></a></li>
  </ul>
</div>
<!-- Header End -->  

<!-- Settings Start -->
<div class="settings">

<!-- 	<div class="odometer">
		<img src="http://placehold.it/300x300" height="300" width="300" alt="timesetting"/>
	</div> -->

  <div id="odometer" class="odometer">123</div>

	<div class="days">
  		<ul>
  			<li><h3><a href="#">MO</a></h3></li>
  			<li><h3><a href="#">TU</a></h3></li>
  			<li><h3><a href="#">WE</a></h3></li>
  			<li><h3><a href="#">TH</a></h3></li>
  			<li><h3><a href="#">FR</a></h3></li>
  			<li><h3><a href="#">SA</a></h3></li>
  			<li><h3><a href="#">SU</a></h3></li>
  		</ul>
  	</div>

</div>
<!-- Settings End -->